
<!--      MODULO MODIFICA CLIENTI-->
<h1 class="h3 mb-4 text-gray-800">Mostra / Modifica cliente</h1>
<p> </p>

<!-- FORM MODIFICA CLIENTI -->
<form method="POST" action="update_<%= clientList[0]._id %>">
  <div class="row">
    <div class="col">
      <input type="text" name="firstName" class="form-control" value="<%= clientList[0].profile.firstName %>" placeholder="Nome" />
    </div>
    <div class="col">
      <input type="text" name="lastName" class="form-control" value="<%= clientList[0].profile.lastName %>" placeholder="Cognome" />
    </div>
  </div>
  <br />
  <div class="form-group">
    <input type="text" name="fiscalCode" placeholder="Codice Fiscale" class="form-control" value="<%= clientList[0].profile.fiscalCode %>"
      pattern="^[a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]$" readonly />
  </div>
  <div class="form-group">
    <input type="text" name="address" placeholder="Indirizzo" class="form-control" value="<%= clientList[0].address.street %>"/>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" name="city" placeholder="Città" class="form-control" value="<%= clientList[0].address.city %>"/>
    </div>
    <div class="form-group col-md-4">
      <select name="state" class="form-control">
        <option selected><%= clientList[0].address.state %></option>
        <option value="italy">Italia</option>
        <option value="europe">Europa</option>
        <option value="foreign">Estero</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <input type="text" name="zipCode" placeholder="CAP" class="form-control" value="<%= clientList[0].address.zipCode %>" />
    </div>
    <div class="form-group col-md-6">
      <input type="email" name="email" placeholder="Email" class="form-control"  value="<%= clientList[0].contacts.email %>"/>
    </div>
    <div class="form-group col-md-6"> 
      <input type="number" name="phone" placeholder="Telefono" class="form-control" value="<%= clientList[0].contacts.phone %>"/>
    </div>
    <button type="submit" value="Submit"class="btn btn-primary">Aggiorna</button>
  </div>
</form>
<br>
<br>
<br>


