
<!--      MODULO MODIFICA CLIENTI-->
<h1 class="h3 text-gray-800">
  Profilo cliente
</h1>



<br>
<!-- FORM MODIFICA CLIENTI -->
<form method="POST" action="update_<%= clientList[0]._id %>">
  <div class="row">
    <div class="col">
      <input 
      type="text" 
      name="firstName" 
      class="form-control" 
      value="<%= clientList[0].profile.firstName %>" 
      placeholder="Nome"
      pattern="[A-Za-z0-9\s]{3,20}[A-Za-z0-9\s]{3,20}[A-Za-z0-9\s]{3,20}"
      />
    </div>
    <div class="col">
      <input 
      type="text" 
      name="lastName" 
      class="form-control" 
      value="<%= clientList[0].profile.lastName %>" 
      placeholder="Cognome"
      pattern="[A-Za-z0-9\s]{3,20}[A-Za-z0-9\s]{3,20}"
      />
    </div>
  </div>
  <br />
  <div class="form-group">
    <label class="form-control" readonly >
      <%= clientList[0].profile.fiscalCode %>
    </label>
  </div>
  <div class="form-group">
    <input 
    type="text" 
    name="address" 
    placeholder="Indirizzo" 
    class="form-control" 
    value="<%= clientList[0].address.street %>"
    pattern="[A-Za-z0-9\s]{2,20}[A-Za-z0-9\s]{2,20}"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input 
      type="text" 
      name="city" 
      placeholder="Città" 
      class="form-control" 
      value="<%= clientList[0].address.city %>"
      pattern="[A-Za-z0-9\s]{2,20}[A-Za-z0-9\s]{2,20}"
      />
    </div>
    <div class="form-group col-md-4">
      <select name="state" class="form-control">
        <option selected><%= clientList[0].address.state %></option>
        <option value="italy">Italia</option>
        <option value="europe">Europa</option>
        <option value="foreign">Estero</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <input 
      type="text" 
      name="zipCode"
      placeholder="CAP" 
      class="form-control" 
      value="<%= clientList[0].address.zipCode %>" 
      pattern="[A-Za-z0-9_-]{1,20}"
      />
    </div>
    <div class="form-group col-md-6">
      <input 
      type="email" 
      name="email" 
      placeholder="Email"
      maxlength="30" 
      class="form-control"  
      value="<%= clientList[0].contacts.email %>"
      />
    </div>
    <div class="form-group col-md-6"> 
      <input 
      type="number" 
      name="phone" 
      placeholder="Telefono" 
      class="form-control" 
      value="<%= clientList[0].contacts.phone %>"
      pattern="[0-9\s]{3,10}[0-9\s]{3,10}"
      />
    </div>
    <div class="form-check" >
      <input class="form-check-input" type="radio" name="archive" id="exampleRadios1" value="false" checked>
      <label class="form-check-label" for="exampleRadios1">
        Disponibile
      </label>
    </div>
    <div class="ml-3 form-check" >
      <input class="form-check-input" type="radio" name="archive" id="exampleRadios2" value="true">
      <label class="form-check-label" for="exampleRadios2">
        Sposta in Archivio
      </label>
    </div>
  </div>
    <div class="form-group mt-2">
      <button type="submit" value="Submit"class="btn btn-primary mt-4">Aggiorna</button>
    </div>
  </div>
</form>

<form action="client_<%= clientList[0].profile.fiscalCode %>" method="POST" id="btnDelete">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-danger btn-icon-split ml-4 mb-4" data-toggle="modal" data-target="#staticBackdrop">
    <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
    <span class="text">      
      Cancella
    </span>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Attenzione!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Verranno cancellati tutti i lavori e/o allegati relativi al cliente, vuoi comunque continuare?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
          <button type="submit" class="btn btn-danger" value="Submit">Procedi</button>
        </div>
      </div>
    </div>
  </div>
</form> 
