<!-- form ricerca cliente -->
<h1 class="h3 mb-2 text-gray-800">Elenco Lavori</h1>
<p>Codice fiscale: <%= code %> 
  <a href="new-work_<%= code %>">
  <button type="button" class="btn btn-sm btn-success mb-4 float-right">
    Nuovo
  </button>
  </a>
</p>
<br>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Database</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Titolo</th>
            <th>Cartella</th>
            <th>Numero</th>
            <th>Stato</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Titolo</th>
            <th>Cartella</th>
            <th>Numero</th>
            <th>Stato</th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          <!-- LIST CLIENT FROM DB--> 
            <% clientList.forEach(client => { %>
            <tr>
              <td> 
                <a href="/edit-work_<%= code %>">
                  <button class="btn btn-sm btn-light" data-toggle="tooltip" data-placement="top" title="<%= client.work.comments %>">
                    <%= client.work.title %>
                  </button>
                </a>
              </td>
              <td> <%= client.work.folder.title %></td>
              <td> <%= client.work.folder.number %> </td>
              <td> <%= client.work.status %> </td>
              <td> 
                <form action ="work_<%= client._id %>" method="POST" id="btnDelete">
                  <button type="submit" class="btn btn-sm btn-danger" value="Submit">Cancella</button>
                </form>
              </td>
            </tr>
            <% }) %> 
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>