<!-- form ricerca cliente -->
<h1 class="h3 mb-2 text-gray-800">Singoli Lavori</h1>
<p>Codice fiscale: <%= clientList[0].client %> </p>
<br>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Database</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Numero</th>
            <th>Cartella</th>
            <th>Titolo</th>
            <th>Documenti</th>
            <th>Stato</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Numero</th>
            <th>Cartella</th>
            <th>Titolo</th>
            <th>Documenti</th>
            <th>Stato</th>
          </tr>
        </tfoot>
        <tbody>
          <!-- LIST CLIENT FROM DB--> 
            <% clientList.forEach(client => { %>
            <tr>
              <td> <%= clientList[0].work.folder.number %> </td>
              <td> <%= clientList[0].work.folder.title %></td>
              <td> <button class="btn btn-sm btn-light" data-toggle="tooltip" data-placement="top" title="<%= clientList[0].work.comments %>">
                <%= clientList[0].work.title %>
                </button>
              </td>
              <td>
                <button class="btn btn-sm btn-light" href="#">Anteprima</button>
              </td>
              <td> <%= clientList[0].work.status %> </td>
            </tr>
            <% }) %> 
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>